.partners-offers {
  margin-top: 90rem;
  @media (max-width: 1024px) {
    padding: 20rem;
  }
  span {
    color: #0039A6;
    font-weight: 900
  }
  .title--underline{
   border-bottom:1rem solid #0039A6;
    margin-bottom: 20rem;
    display: inline-block;
  }

  &__list {
    display: flex;
    @media (max-width: 1024px) {

      flex-wrap: wrap;
    }
  }

  &__item {
    width: 25%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

    @media (max-width: 813px){
      margin-bottom: 50rem;
      margin-right: 20rem;
      &:last-child {
        width: 100%;
        margin: 0;
        align-items: flex-start;
      }
    }

    p {
      color: #0039A6;
      font-weight: 500;
    }
  }
}
