@font-face {
    font-family: 'Ubuntu';
    src: url('../fonts/Ubuntu-Medium.eot');
    src: url('../fonts/Ubuntu-Medium.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Ubuntu-Medium.woff2') format('woff2'),
        url('../fonts/Ubuntu-Medium.woff') format('woff'),
        url('../fonts/Ubuntu-Medium.ttf') format('truetype'),
        url('../fonts/Ubuntu-Medium.svg#Ubuntu-Medium') format('svg');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Segoe UI';
    src: url('../fonts/SegoeUI-Bold.eot');
    src: url('../fonts/SegoeUI-Bold.eot?#iefix') format('embedded-opentype'),
        url('../fonts/SegoeUI-Bold.woff2') format('woff2'),
        url('../fonts/SegoeUI-Bold.woff') format('woff'),
        url('../fonts/SegoeUI-Bold.ttf') format('truetype'),
        url('../fonts/SegoeUI-Bold.svg#SegoeUI-Bold') format('svg');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Ubuntu';
    src: url('../fonts/Ubuntu-Bold.eot');
    src: url('../fonts/Ubuntu-Bold.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Ubuntu-Bold.woff2') format('woff2'),
        url('../fonts/Ubuntu-Bold.woff') format('woff'),
        url('../fonts/Ubuntu-Bold.ttf') format('truetype'),
        url('../fonts/Ubuntu-Bold.svg#Ubuntu-Bold') format('svg');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Segoe UI';
    src: url('../fonts/SegoeUI.eot');
    src: url('../fonts/SegoeUI.eot?#iefix') format('embedded-opentype'),
        url('../fonts/SegoeUI.woff2') format('woff2'),
        url('../fonts/SegoeUI.woff') format('woff'),
        url('../fonts/SegoeUI.ttf') format('truetype'),
        url('../fonts/SegoeUI.svg#SegoeUI') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Segoe UI';
    src: url('../fonts/SegoeUI-Bold_1.eot');
    src: url('../fonts/SegoeUI-Bold_1.eot?#iefix') format('embedded-opentype'),
        url('../fonts/SegoeUI-Bold_1.woff2') format('woff2'),
        url('../fonts/SegoeUI-Bold_1.woff') format('woff'),
        url('../fonts/SegoeUI-Bold_1.ttf') format('truetype'),
        url('../fonts/SegoeUI-Bold_1.svg#SegoeUI-Bold') format('svg');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Ubuntu';
    src: url('../fonts/Ubuntu-Medium_1.eot');
    src: url('../fonts/Ubuntu-Medium_1.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Ubuntu-Medium_1.woff2') format('woff2'),
        url('../fonts/Ubuntu-Medium_1.woff') format('woff'),
        url('../fonts/Ubuntu-Medium_1.ttf') format('truetype'),
        url('../fonts/Ubuntu-Medium_1.svg#Ubuntu-Medium') format('svg');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Segoe UI';
    src: url('../fonts/SegoeUI-SemiBold.eot');
    src: url('../fonts/SegoeUI-SemiBold.eot?#iefix') format('embedded-opentype'),
        url('../fonts/SegoeUI-SemiBold.woff2') format('woff2'),
        url('../fonts/SegoeUI-SemiBold.woff') format('woff'),
        url('../fonts/SegoeUI-SemiBold.ttf') format('truetype'),
        url('../fonts/SegoeUI-SemiBold.svg#SegoeUI-SemiBold') format('svg');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Segoe UI Semilight';
    src: url('../fonts/SegoeUI-Semilight.eot');
    src: url('../fonts/SegoeUI-Semilight.eot?#iefix') format('embedded-opentype'),
        url('../fonts/SegoeUI-Semilight.woff2') format('woff2'),
        url('../fonts/SegoeUI-Semilight.woff') format('woff'),
        url('../fonts/SegoeUI-Semilight.ttf') format('truetype'),
        url('../fonts/SegoeUI-Semilight.svg#SegoeUI-Semilight') format('svg');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Segoe UI';
    src: url('../fonts/SegoeUI_1.eot');
    src: url('../fonts/SegoeUI_1.eot?#iefix') format('embedded-opentype'),
        url('../fonts/SegoeUI_1.woff2') format('woff2'),
        url('../fonts/SegoeUI_1.woff') format('woff'),
        url('../fonts/SegoeUI_1.ttf') format('truetype'),
        url('../fonts/SegoeUI_1.svg#SegoeUI') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Ubuntu';
    src: url('../fonts/Ubuntu-Bold_1.eot');
    src: url('../fonts/Ubuntu-Bold_1.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Ubuntu-Bold_1.woff2') format('woff2'),
        url('../fonts/Ubuntu-Bold_1.woff') format('woff'),
        url('../fonts/Ubuntu-Bold_1.ttf') format('truetype'),
        url('../fonts/Ubuntu-Bold_1.svg#Ubuntu-Bold') format('svg');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Segoe UI';
    src: url('../fonts/SegoeUI-SemiBold_1.eot');
    src: url('../fonts/SegoeUI-SemiBold_1.eot?#iefix') format('embedded-opentype'),
        url('../fonts/SegoeUI-SemiBold_1.woff2') format('woff2'),
        url('../fonts/SegoeUI-SemiBold_1.woff') format('woff'),
        url('../fonts/SegoeUI-SemiBold_1.ttf') format('truetype'),
        url('../fonts/SegoeUI-SemiBold_1.svg#SegoeUI-SemiBold') format('svg');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Segoe UI Semilight';
    src: url('../fonts/SegoeUI-Semilight_1.eot');
    src: url('../fonts/SegoeUI-Semilight_1.eot?#iefix') format('embedded-opentype'),
        url('../fonts/SegoeUI-Semilight_1.woff2') format('woff2'),
        url('../fonts/SegoeUI-Semilight_1.woff') format('woff'),
        url('../fonts/SegoeUI-Semilight_1.ttf') format('truetype'),
        url('../fonts/SegoeUI-Semilight_1.svg#SegoeUI-Semilight') format('svg');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Uni Sans Heavy Caps';
    src: url('../fonts/UniSansHeavyCaps.eot');
    src: url('../fonts/UniSansHeavyCaps.eot?#iefix') format('embedded-opentype'),
        url('../fonts/UniSansHeavyCaps.woff2') format('woff2'),
        url('../fonts/UniSansHeavyCaps.woff') format('woff'),
        url('../fonts/UniSansHeavyCaps.ttf') format('truetype'),
        url('../fonts/UniSansHeavyCaps.svg#UniSansHeavyCaps') format('svg');
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Uni Sans Heavy Caps';
    src: url('../fonts/UniSansHeavyCaps_1.eot');
    src: url('../fonts/UniSansHeavyCaps_1.eot?#iefix') format('embedded-opentype'),
        url('../fonts/UniSansHeavyCaps_1.woff2') format('woff2'),
        url('../fonts/UniSansHeavyCaps_1.woff') format('woff'),
        url('../fonts/UniSansHeavyCaps_1.ttf') format('truetype'),
        url('../fonts/UniSansHeavyCaps_1.svg#UniSansHeavyCaps') format('svg');
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Ubuntu';
    src: url('../fonts/Ubuntu-Regular.eot');
    src: url('../fonts/Ubuntu-Regular.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Ubuntu-Regular.woff2') format('woff2'),
        url('../fonts/Ubuntu-Regular.woff') format('woff'),
        url('../fonts/Ubuntu-Regular.ttf') format('truetype'),
        url('../fonts/Ubuntu-Regular.svg#Ubuntu-Regular') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Ubuntu';
    src: url('../fonts/Ubuntu-Regular_1.eot');
    src: url('../fonts/Ubuntu-Regular_1.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Ubuntu-Regular_1.woff2') format('woff2'),
        url('../fonts/Ubuntu-Regular_1.woff') format('woff'),
        url('../fonts/Ubuntu-Regular_1.ttf') format('truetype'),
        url('../fonts/Ubuntu-Regular_1.svg#Ubuntu-Regular') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}